* {
 -webkit-tap-highlight-color: transparent;
}

body {
  display:grid;
  height:80px;
  width:10px;
  place-items: center;
  background: #000000;
}

.search-box {
  position:relative;
  height:60px;
  width:0px;
  transition: all 0.5s cubic-bezier(0.20, -0.55, 0.265, 1.20 );
}

.search-box.active {
  width: 250px;
}

.search-box.active input {
  opacity: 1;
}

.search-box input {
  height:100%;
  width:100%;
  border:none;
  background: #EBEBEB;
  font-size:18px;
  border-radius: 8px;
  padding: 0 60px 0 20px;
  outline:none;
  opacity:0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}

.search-box .search-btn {
  appearance: none;
  height:50px;
  width:50px;
  background: #fff;
  color: white;
  background-color: #0052FF;
  position: absolute;
  top:50%;
  right:-75px;
  transform: translateY(-50%);
  line-height:50px;
  text-align:center;
  border-radius:8%;
  font-size:20px;
  cursor:pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  z-index:2;
}

.search-box.active .search-btn {
  height:50px;
  width:50px;
  background: #00FF05;
  color:#fff;
}

.search-box .cancel-btn {
  position: absolute;
  color: #664AFF;
  top:50%;
  right: -75px;
  transform: translateY(-50%);
  color:#664AFF;
  font-size: 30px;
  cursor:pointer;
  height:50px;
  width:50px;
  line-height:50px;
  text-align:center;
  border-radius: 50%;
  opacity: 0;
}

.search-box.active .cancel-btn {
  right: -130px;
  opacity: 1;
  color:red;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}
